/** @format */
@import "tailwindcss"; 

@layer components {
.title {
color: #64FFDA;
font-weight: 700 !important;
font-size: 45px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-bottom: 60px;
}
.card-width {
width: 900px !important;
}

  .height{
    height: 100vh !important;
    margin-top: 70px !important;
  }
  .hero-section {
    min-height: calc(100vh - 125px);
    margin-top: 140px;
  }
  .c-section {
    min-height: calc(100vh - 32px);
  }
  .cert-container {
    position: absolute;
    top: 150px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    background-color: #020C1B;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  .edu-container {
    position: absolute;
    top: 80px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #020C1B;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}

@layer base {
a {
color: cadetblue !important;
}
}

.App {
background-color: #020c1b;
}

.color-text {
color: #CCD6F6;
}

.skill-card {
background-image: 
linear-gradient(rgba(40, 42, 47, 0.575), rgba(15, 23, 42, 0.9)),
url('src/assets/Desktop Wallpaper - Landscape.jpg');
background-size: cover;
background-position: center;
}

.exp-card {
background-image: 
linear-gradient(rgba(40, 42, 47, 0.575), rgba(15, 23, 42, 0.9));
}

.imgSize {
width: 70px;
height: 70px;
}
.edu-imgSize {
width: 130px;
height: 130px;
}

.dot {
width: 20px;
height: 20px;
background-color: #020c1b;
position: relative;
top: 100px;
left: 527px;
border-radius: 50%;
border-color: #64FFDA;
border-width: 5px;
}

.edu-dot{
display: flex;
flex-direction: row;
width: 20px;
height: 20px;
background-color: #020c1b;
position: relative;
top: 75px;
left: -27px;
border-radius: 50%;
border-color: #64FFDA;
border-width: 5px;
}

.dot-right {
width: 20px;
height: 20px;
background-color: #020c1b;
position: relative;
top: 100px;
right: 528px;
border-radius: 50%;
border-color: #64FFDA;
border-width: 5px;
}

.timeline-line {
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 333px; 
bottom: 210px; 
width: 2px;
border-left: 2px dashed #64FFDA; 
z-index: 0;
}

.edu-line {
position: absolute;
left: 72px;
transform: translateX(-50%);
top: 216px;
bottom: 105px; 
width: 2px;
border-left: 2px dashed #64FFDA; 
z-index: 0;
}