/** @format */
@import "tailwindcss"; 

@layer components {
  .title {
    color: #64FFDA;
    font-weight: 700 !important;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 60px;
  }
  .card-width {
    width: 900px !important;
  }
}

@layer base {
  a {
    color: cadetblue !important;
  }
}

.App {
  background-color: #020c1b;
}

.color-text {
  color: #CCD6F6;
}

.skill-card {
  background-image: 
    linear-gradient(rgba(40, 42, 47, 0.575), rgba(15, 23, 42, 0.9)),
    url('src/assets/Desktop Wallpaper - Landscape.jpg');
  background-size: cover;
  background-position: center;
}

.imgSize {
  width: 70px;
  height: 70px;
}