/** @format */
@import "tailwindcss"; 

@layer components {
  .title {
    color: #64FFDA;
    font-weight: 700 !important;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 60px;
  }
  .card-width {
    width: 900px !important;
  }
  .hero-section {
    min-height: calc(100vh - 125px);
    margin-top: 140px;
  }
}

@layer base {
  a {
    color: cadetblue !important;
  }
}

.App {
  background-color: #020c1b;
}

.color-text {
  color: #CCD6F6;
}

.skill-card {
  background-image: 
    linear-gradient(rgba(40, 42, 47, 0.575), rgba(15, 23, 42, 0.9)),
    url('src/assets/Desktop Wallpaper - Landscape.jpg');
  background-size: cover;
  background-position: center;
}

.exp-card {
  background-image: 
    linear-gradient(rgba(40, 42, 47, 0.575), rgba(15, 23, 42, 0.9));
}

.imgSize {
  width: 70px;
  height: 70px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #020c1b;
  position: relative;
  top: 100px;
  left: 527px;
  border-radius: 50%;
  border-color: #64FFDA;
  border-width: 5px;
}

.dot-right {
  width: 20px;
  height: 20px;
  background-color: #020c1b;
  position: relative;
  top: 100px;
  right: 528px;
  border-radius: 50%;
  border-color: #64FFDA;
  border-width: 5px;
}

.timeline-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 333px; 
  bottom: 210px; 
  width: 2px;
  border-left: 2px dashed #64FFDA; 
  z-index: 0;
}